<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}MCDM App{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- swal -->
   
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- for chart -->
  <link href="https://unpkg.com/vis-network/styles/vis-network.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body class="bg-white text-gray-900 scroll-smooth">

  <!-- NAVBAR -->
<header class="fixed top-0 w-full bg-white shadow z-50">
    <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-4">
      <h1 class="text-2xl font-bold text-blue-600">Logo</h1>
      <nav class="space-x-4">
        <a href="#home" class="text-gray-700 hover:text-blue-600">Home</a>
        <a href="#methods" class="text-gray-700 hover:text-blue-600">Methods</a>
      </nav>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <main class="pt-24 pb-12 min-h-screen">
    {% block content %}
    {% endblock %}
  </main>

  <!-- FOOTER -->
  <footer class="bg-blue-900 text-white text-center py-6 mt-auto">
    <p class="text-sm">&copy; {{ 2025 }} MCDM App. All rights reserved.</p>
  </footer>

</body>
</html>
